DO_SPACES_KEY=
DO_SPACES_SECRET=
DO_SPACES_REGION=fra1
DO_SPACES_BUCKET=betboard-ml-artifacts
DO_SPACES_ENDPOINT=https://fra1.digitaloceanspaces.com
DO_SPACES_ROOT_PREFIX=soccer-prediction-data
DO_SPACES_PROFILE=do-spaces

FOOTBALL_DATA_ORG_API_KEY=
API_FOOTBALL_API_KEY=
ODDS_API_KEY=
